{% extends "base.html" %}

{% block content %}
<h1>Projects list</h1>
<table class="table">
<thead><tr><th>#</th><th>Name:</th></tr></thead>
{% for project in projects %}
<tr><td>{{ project.id }}</td><td>{{ project.name }}</td></tr>
{% endfor %}
</table>
<div class="well">
	{% if form.errors %}
	<div class="alert alert-error">
		<i class="icon-warning-sign icon-white"></i>
		Have you forgot to add something? Please review your entry below.
	</div>
	{% endif %}
	<form action="/stories/add/" method="post" style="margin:0">{% csrf_token %}
		<span class="control-group{% if form.description.errors %} error{% endif %}">
			<textarea id="id_description" name="description" rows="1" style="width:300px" placeholder="Initial project description goes here..." {% if form.description.value %}value="{{ form.name.value }}"{% endif %} style="height:20px"></textarea>
		</span>
		<span class="input-append control-group{% if form.name.errors %} error{% endif %}">
			<input id="id_name" type="text" name="name" placeholder="Project name" {% if form.name.value %}value="{{ form.name.value }}"{% endif %}/>
			<input class="btn {% if not form.name.errors %} btn-primary{% endif %}" type="submit" value="Add"/>
		</span>
	</form>
</div>
{% endblock %}
