{% extends "base.html" %}

{% block projectsActive %}active{% endblock %}

{% block content %}
<h1 style="float:left"><a href="{% url 'project_page' project.id %}">{{ project.name }}</a></h1>
<h2 style="float:right">{{ total_time }}</h2>
<small style="position:absolute;top:0px;right:2px">Total time:</small>
<br clear="all"/>
<p>{{ project.description }}</p>
<div class="well" style="margin-top:20px">
	{% if error == "add_error" or form.errors %}
	<div class="alert alert-error">
		<i class="icon-warning-sign icon-white"></i>
		Have you forgot to add something? Please review your entry below.
	</div>
	{% endif %}
	<form action="{% url 'add_story' %}" method="post" style="margin:0">{% csrf_token %}
		<input id="id_project" type="hidden" name="project" value="{{ project.id }}"/>
		<label>Add a new story:</label>
		<span class="control-group{% if form.description.errors %} error{% endif %}">
			<input id="id_name" type="text" name="name" placeholder="Story short description or name" {% if form.name.value %}value="{{ form.name.value }}"{% endif %} style="width:55%" maxlength="100" autofocus="autofocus"/>
		</span>
		<span class="control-group{% if form.user.errors %} error{% endif %}">
			<select id="id_user" type="text" name="user" style="width:20%" maxlength="100">
				{% for user in users %}
					{% if user.first_name != '' %}
					<option value="{{ user.id }}" {% if form.user.value %}selected="selected"{% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</span>
		<span class="input-append control-group{% if form.name.errors %} error{% endif %}">
			<input class="span1" id="id_time" type="text" name="time" placeholder="Time" {% if form.time.value %}value="{{ form.time.value }}"{% endif %} maxlength="6"/ style="width:10%">
			<input class="btn {% if not form.name.errors %} btn-primary{% endif %}" style="width:10%" type="submit" value="Add"/>
		</span>
	</form>
</div>
<div id="edit_opt" class="alert alert-info" style="display:none;position:absolute;width:890px;z-index:1">
	{% if error == "edit_error" or edit_form.errors %}
	<div class="alert alert-error">
		<i class="icon-warning-sign icon-white"></i>
		Have you messed up something? Please review your entry below.
	</div>
	{% endif %}
	<form action="{% url 'edit_story' %}" method="post" style="margin:0">{% csrf_token %}
		<input id="id_edit_id" type="hidden" name="id" value="{{ edit_form.id.value }}"/>
		<input id="id_edit_project" type="hidden" name="project" value="{{ project.id }}"/>
		<label>Edit this story:</label>
		<span class="control-group{% if edit_form.description.errors %} error{% endif %}">
			<input id="id_edit_name" type="text" name="name" placeholder="Story short description or name" {% if edit_form.name.value %}value="{{ edit_form.name.value }}"{% endif %} style="width:55%" maxlength="100" autofocus="autofocus"/>
		</span>
		<span class="control-group{% if edit_form.user.errors %} error{% endif %}">
			<select id="id_edit_user" type="text" name="user" style="width:20%" maxlength="100">
				{% for user in edit_form.user.field.queryset %}
					{% if user.first_name != '' %}
					<option value="{{ user.id }}" {% if user.value %}selected="selected"{% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</span>
		<span class="input-append control-group{% if edit_form.name.errors %} error{% endif %}">
			<input class="span1" id="id_edit_time" type="text" name="time" placeholder="Time" {% if edit_form.time.value %}value="{{ edit_form.time.value }}"{% endif %} maxlength="6"/ style="width:10%">
			<input class="btn {% if not edit_form.name.errors %} btn-primary{% endif %}" style="width:10%" type="submit" value="Add"/>
		</span>
	</form>
	<a class="close-btn" href="#" style="position:absolute;top:10px;right:15px"><i class="icon-remove-sign"></i></a>
</div>
{% if error == "change_story_error" %}
<div class="alert alert-error">
	<i class="icon-warning-sign icon-white"></i>
	Something went wrong while editing the time of a story.
</div>
{% endif %}
{% if is_filter%}
<div class="alert">
	Showing only results that matches the given filters:
	<br/>
	<br/>
	<ul>
	{% if filter_user %}
	<li><strong>User:</strong> {{ filter_user.first_name }} {{ filter_user.last_name }}</li>
	{% endif %}
	{% if filter_group %}
	<li><strong>Group:</strong> {{ filter_group.name }}</li>
	{% endif %}
	</ul>
</div>
{% endif %}
<table class="table table-hover">
	<thead><tr><th>#</th><th>Name</th><th>User</th><th>Time</th><th>Options</th></tr></thead>
{% for story in stories %}
<tr class="story">
	<td class="story-num" width="5%">{{ forloop.counter }}</td>
	<td class="story-name" width="52%">{{ story.name }}</td>
	<td class="story-user" width="20%" data-userid="{{story.user.id}}">
		{{ story.user.first_name }} {{ story.user.last_name }}
	</td>
	<td style="position:relative">
		<form action="{% url 'change_story_time' %}" method="post" style="position:relative;top:-2px;display:block;height:5px">{% csrf_token %}
			<input name="id" value="{{ story.id }}" type="hidden"/>
			<input class="span1" name="time" value="{{ story.time }}" type="text"/>
		</form>
	</td>
	<td width="12%" style="position:relative">
		<a class="toggle-options" style="position:absolute;top:9px;left:30px" href="#">
			<i class="icon-minus-sign"></i>
		</a>
		<form action="{% url 'remove_story' %}" method="post" style="position:absolute;top:3px;left:30px;width:0px;overflow:hidden">{% csrf_token %}
			<input name="delete_id" value="{{ story.id }}" type="hidden"/>
			<input class="btn btn-danger" type="submit" value="Delete"/>
		</form>
	</td>
</tr>
{% endfor %}
</table>
<div class="well" style="margin-top:20px;position:relative;height:10px">
	<strong>Filter by:</strong>
	<form action="{% url 'project_page' project.id %}" method="get" style="position:absolute;top:19px;left:100px;width:860px">
		<label>User:</label>
		<span class="control-group" style="position:absolute;top:-4px;left:50px">
			<select type="text" name="filterByUser" maxlength="100" class="span2">
				<option value="any">Any</option>
				{% for user in users %}
					{% if user.first_name != '' %}
					<option value="{{ user.id }}" {% if filter_user and filter_user.id == user.id %}selected="selected"{% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</span>
		<label style="position:absolute;top:0px;left:230px">Group:</label>
		<span class="control-group" style="position:absolute;top:-4px;left:290px">
			<select type="text" name="filterByGroup" maxlength="100" class="span2">
				<option value="any">Any</option>
				{% for group in groups %}
					{% if group.name != '' %}
					<option value="{{ group.id }}" {% if filter_group and filter_group.id == group.id %}selected="selected"{% endif %}>{{ group.name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</span>
		<input class="btn" type="submit" value="Filter results" style="position:absolute;top:-5px;left:460px"/>
	</form>
</div>
<p class="lead"><a href="{% url 'stories_index' %}">Back to projects list</a></p>
{% endblock %}
