{% extends "base.html" %}

{% block content %}
<p class="lead"><a href="{% url stories_index %}">Back to projects list</a></p>
<h1 style="float:left">{{ project.name }}</h1>
<h2 style="float:right">{{ project.total_time }}</h2>
<small style="position:absolute;top:45px;right:2px">Time:</small>
<br clear="all"/>
<p>{{ project.description }}</p>
<div class="well" style="margin-top:20px">
	{% if error == "add_error" or form.errors %}
	<div class="alert alert-error">
		<i class="icon-warning-sign icon-white"></i>
		Have you forgot to add something? Please review your entry below.
	</div>
	{% elif error == "change_story_error" %}
	<div class="alert alert-error">
		<i class="icon-warning-sign icon-white"></i>
		Something went wrong while editing the time of a story.
	</div>
	{% endif %}
	<form action="{% url add_story %}" method="post" style="margin:0">{% csrf_token %}
		<input id="id_project" type="hidden" name="project" value="{{ project.id }}"/>
		<label>Add a new story:</label>
		<span class="control-group{% if form.description.errors %} error{% endif %}">
			<input id="id_name" type="text" name="name" placeholder="Story short description or name" {% if form.name.value %}value="{{ form.name.value }}"{% endif %} style="width:70%" maxlength="100"/>
		</span>
		<span class="input-append control-group{% if form.name.errors %} error{% endif %}">
			<input class="span1" id="id_time" type="text" name="time" placeholder="Time" {% if form.time.value %}value="{{ form.time.value }}"{% endif %} maxlength="6"/>
			<input class="btn {% if not form.name.errors %} btn-primary{% endif %}" style="width:10%" type="submit" value="Add"/>
		</span>
	</form>
</div>
<table class="table">
<thead><tr><th>#</th><th>Name</th><th>Time</th><th>Options</th></tr></thead>
{% for story in stories %}
<tr>
	<td width="5%">{{ forloop.counter }}</td>
	<td>{{ story.name }}</td>
	<td style="position:relative">
		<form action="{% url change_story_time %}" method="post" style="position:absolute;top:3px">{% csrf_token %}
			<input id="id_id" name="id" value="{{ story.id }}" type="hidden"/>
			<input class="span1" id="id_time" name="time" value="{{ story.time }}" type="text"/>
		</form>
	</td>
	<td width="12%" style="position:relative">
		<a class="toggle-options" style="position:absolute;top:9px;left:30px" href="#">
			<i class="icon-minus-sign"></i>
		</a>
		<form action="{% url remove_story %}" method="post" style="position:absolute;top:3px;left:30px;width:0px;overflow:hidden">{% csrf_token %}
			<input id="id_delete_id" name="delete_id" value="{{ story.id }}" type="hidden"/>
			<input class="btn btn-danger" type="submit" value="Delete"/>
		</form>
	</td>
</tr>
{% endfor %}
</table>
{% endblock %}
