<!DOCTYPE html>
<html>
	<head>
		<title>Estimate</title>
		<link href="{{ STATIC_URL }}/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="main" class="main container" role="main" style="position:relative">
			{% block content %}{% endblock %}
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}/bootstrap.min.js"></script>
		<script>
			function main(){
				$('.toggle-options').click(onToggleOptions);
				$('.story').click(onStoryClicked);
			}
			function onToggleOptions(e){
				if($(e.currentTarget).find('i').hasClass('icon-minus-sign')){
					$(e.currentTarget).animate({left:0});
					setTimeout(function(){
						$(e.currentTarget.parentNode).find('form').animate({width:80});
					}, 300);
					$(e.currentTarget).find('i').removeClass('icon-minus-sign')
					$(e.currentTarget).find('i').addClass('icon-remove-sign')
				} else {
					setTimeout(function(){
						$(e.currentTarget).animate({left:30});
					}, 300);
					$(e.currentTarget.parentNode).find('form').animate({width:0});
					$(e.currentTarget).find('i').removeClass('icon-remove-sign')
					$(e.currentTarget).find('i').addClass('icon-minus-sign')
				}
				e.preventDefault();
				return false;
			}
			function onStoryClicked(e){
				var story = $(e.currentTarget);
				var editDiv = $('#edit_opt');
				$('#id_edit_id').val(story.find('input[name=id]').val());
				$('#id_edit_name').val(story.find('.story-name').text());
				$('#id_edit_time').val(story.find('input[name=time]').val());
				$('#id_edit_user').val(story.find('.story-user').data('userid'));
				editDiv.css('top', story.position().top-28);
				editDiv.show();
				e.preventDefault();
				return false;
			}
			$(main);
		</script>
	</body>
</html>
