<!DOCTYPE html>
<html>
	<head>
		<title>Estimate</title>
		<link href="{{ STATIC_URL }}/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<header class="header">
			<nav class="container">
				<h2 style="position:absolute"><a href="/">Estimate</a></h2>
				<ul class="nav nav-tabs" style="margin-top:15px">
					<li class="{% block meActive %}{% endblock %} pull-right"><a href="/me/">{{ user.first_name }} {{ user.last_name }}</a></li>
					{% if user.is_superuser %}<li class="{% block usersActive %}{% endblock %} pull-right"><a href="/users/">Users</a></li>{% endif %}
					{% if user.is_superuser %}<li class="{% block groupsActive %}{% endblock %} pull-right"><a href="/groups/">Groups</a></li>{% endif %}
					<li class="{% block projectsActive %}{% endblock %} pull-right"><a href="/stories/">Projects</a></li>
				</ul>
			</nav>
		</header>
		<div id="main" class="main container" role="main" style="position:relative">
			{% block content %}{% endblock %}
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}/bootstrap.min.js"></script>
		<script>
			function main(){
				$('.toggle-options').click(onToggleOptions);
				$('.story').click(onStoryClicked);
				$('#edit_opt .close-btn').click(onCloseStory);
				try{
					onAppInitialized();
				} catch(e){}
			}
			function onToggleOptions(e){
				if($(e.currentTarget).find('i').hasClass('icon-minus-sign')){
					$(e.currentTarget).animate({left:0});
					setTimeout(function(){
						$(e.currentTarget.parentNode).find('form').animate({width:80});
					}, 300);
					$(e.currentTarget).find('i').removeClass('icon-minus-sign')
					$(e.currentTarget).find('i').addClass('icon-remove-sign')
				} else {
					setTimeout(function(){
						$(e.currentTarget).animate({left:20});
					}, 300);
					$(e.currentTarget.parentNode).find('form').animate({width:0});
					$(e.currentTarget).find('i').removeClass('icon-remove-sign')
					$(e.currentTarget).find('i').addClass('icon-minus-sign')
				}
				e.preventDefault();
				return false;
			}
			function onStoryClicked(e, skipClosing){
				if(!skipClosing){
					onCloseStory({preventDefault:function(){}});
				}
				var story = $(e.currentTarget);
				var editDiv = $('#edit_opt');
				$('#id_edit_id').val(story.find('input[name=id]').val());
				$('#id_edit_name').val(story.find('.story-name').text());
				$('#id_edit_time').val(story.find('input[name=time]').val());
				$('#id_edit_user').val(story.find('.story-user').data('userid'));
				editDiv.css('top', story.position().top-28);
				editDiv.show();
				e.preventDefault();
				return false;
			}
			function onCloseStory(e){
				$('#edit_opt').find('.alert').remove();
				$('#edit_opt').find('.control-group').removeClass('error');
				$('#id_edit_id').val('');
				$('#id_edit_name').val('');
				$('#id_edit_time').val('');
				$('#id_edit_user').val('');
				$('#edit_opt').hide();
				e.preventDefault();
				return false;
			}
			$(main);
		</script>
	</body>
</html>
